.root {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.imgText {
  width: 25px;
  height: 25px;
}

.imgstack {
  width: 35px;
  height: 35px;
  flex: 1 1 1 1 200px;
}
.iconContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.imgIcon {
  width: 25px;
  height: 25px;
}
.title {
  display: flex;
  flex-wrap: wrap;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
}
.h1 {
  text-align: center;
}
